* {
    box-sizing: border-box;
}

body {
  margin: 0;
  display:flex ;
  flex-direction: column;

  min-height: 100vh;
  min-width: 100vh;
}

#root {
  min-height: 100vh;
  min-width: 100vh;
}


/* Navbar */

nav {
  position: fixed;
  left: 0;
  grid-column: 1;
  width: 450px;
  height: 100%;
  background-color: aquamarine;
}

nav ul {
  list-style-type: none;
  margin-left: 50px;
  padding: 0;

  justify-content: space-between;

  width: inherit;
  height: inherit;
}

/* Searchbar */

.search-container {
  position: fixed;
  right: 0;
  grid-column: 3;

  width: 525px;
  height: 100%;

  background-color: purple;
}

.search-container input {
  border-radius: 25px;
  height: 50px;
  border: 2px solid black;
  margin-left: 15px;
  margin-top: 15px;
}

/* Main */

.main-container {
  position: absolute;
  display: grid;
  grid-template-columns: 450px 945px 525px;
  grid-auto-rows: 230px;

  min-height: 100%;
  min-width: 100%;
}

/* Feed */

.post-container {
  grid-column: 2;

  width: 100%;
  height: 200px;
  border: 1px solid black;

  margin-top: 30px;
}

/* Post form */

.post-form {
  grid-column: 2;
  grid-row: 1;

  margin-top: 25px;
}

.post-form textarea {
  width: 90%;
  height: 75%;

  margin-left: 45px;
  margin-right: 25px;
}

.post-form button {
  margin-left: 45px;
}